@inherits LayoutComponentBase
<div id="wrapper">
    <Sidebar />
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <Topbar />
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Counter</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                @Body
            </div>
        </div>
        <Footer />
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<fixed_costs_manager.Client.Pages.Views.Logout.Logout />